/*fin header*/
main {
    #recap_command {
        font-size: 1.8rem;
        #details_teddy {
            .li_teddy {
                max-width: 30%;
                h2 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
