* {
    font-family: roboto;
}
$primary: rgb(243, 233, 255);
$secondary: rgba(143, 91, 254, 255);

body {
    background-color: white;
    padding: 5px 10px;
}
li {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $primary;
    border-radius: 15px;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.ul_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    background-color: $primary;
    padding: 0;
    border-radius: 15px;
}
.logo {
    margin: auto;
    height: 80px;
    object-fit: cover;
    border-radius: 15px;
}
.li_logo {
    width: 100%;
    text-align: center;
}
.li_accueil {
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
}
.li_panier {
    width: 50%;
    text-align: center;
}

/*end header*/

/*product*/
#page_teddy {
    figure {
        display: flex;
        flex-direction: column;
        background-color: rgb(243, 233, 255);
        box-shadow: 6px 6px 6px rgba(143, 91, 254, 255);
        border-radius: 15px;
        position: relative;
        #okbasket {
            display: none;
            position: absolute;
            top: 200px;
            width: 80%;
            margin: 0 10%;
            font-size: 1rem;
            border: 1px solid $secondary;
            border-radius: 15px;
            text-align: center;
            background-color: $primary;
            #buttonokbasket {
                border-radius: 15px;
                width: 50px;
                margin: 5px auto;
            }
        }
        h2 {
            padding: 10px 0 0 10px;
            font-size: 2.5rem;
        }
        .reference {
            font-size: 0.8rem;
            padding: 0 0 5px 10px;
        }
        img {
            width: 96%;
            height: 100%;
            object-fit: cover;
            margin: auto;
            border-radius: 15px;
        }
        .description {
            display: inline-block;
            text-align: justify;
            font-size: 1rem;
            padding: 5px 10px;
        }
        .selection {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            select {
                display: inline-block;
                width: 60%;
                margin: auto;
                font-size: 1rem;
                padding: 2px;
                border-radius: 15px;
                border: 1px solid black;
                text-align: center;
            }
            #color_select {
                outline-style: none;
            }
            #input_div {
                position: relative;
                width: 70px;
                height: 30px;
                margin: auto;
                vertical-align: top;

                #count {
                    position: absolute;
                    top: 0;
                    left: 20px;
                    width: 30px;
                    height: 30px;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    border: 1px solid black;
                }
                #lessButton {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 30px;
                    line-height: 30px;
                    padding: 0;
                    margin: 0;
                    border-radius: 15px 0 0 15px;
                    border: 1px solid black;
                }
                #plusButton {
                    position: absolute;
                    top: 0;
                    left: 50px;
                    width: 20px;
                    height: 30px;
                    padding: 0;
                    margin: 0;
                    border-radius: 0 15px 15px 0;
                    border: 1px solid black;
                }
            }
        }
        .info {
            display: flex;
            flex-direction: row;
            position: relative;

            .price {
                font-size: 2rem;
                padding: 10px 0 10px 25px;
            }
            #basket {
                background-color: white;
                border: 1px solid black;
                font-size: 1.2rem;
                line-height: 28px;
                position: absolute;
                bottom: 15px;
                right: 15px;
                border-radius: 15px;
                i {
                    font-size: 1rem;
                    padding: 5px;
                }
            }
        }
    }
}

/*end product*/
