/*header*/
header {
    font-size: 1.5rem;
    margin-bottom: 20px;
    height: 150px;
}
.logo {
    height: 100px;
}

/*end header*/

/*product*/
#page_teddy {
    figure {
        #okbasket {
            font-size: 2rem;
            top: 300px;
            width: 70%;
            margin: 0 15%;
        }
        h2 {
            font-size: 3rem;
        }
        .reference {
            font-size: 1rem;
            padding: 0 0 10px 10px;
        }
        .description {
            font-size: 1.5rem;
            padding: 15px 10px;
        }
        .selection {
            height: 50px;
            select {
                font-size: 1.5rem;
                padding: 8px;
            }
            #input_div {
                position: relative;
                width: 140px;
                height: 40px;
                margin: auto;
                vertical-align: top;

                #count {
                    font-size: 1.5rem;
                    left: 40px;
                    width: 60px;
                    height: 40px;
                }
                #lessButton {
                    font-size: 1.5rem;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
                #plusButton {
                    font-size: 1.5rem;
                    left: 100px;
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .info {
            #basket {
                font-size: 1.3rem;
                padding: 5px 12px;
                i {
                    font-size: 1.2rem;
                }
            }
            .price {
                font-size: 3rem;
            }
        }
    }
}
/*end product*/
